<!DOCTYPE html>
<html lang="en">

<head>
    <table style="width: 100%" border="1" cellspacing="1">
        <tr>
            <td rowspan="9">新增订单</td>
            <td rowspan="9">总和</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
        </tr>
    </table>

</head>

<body>

</body>
<script>

</script>
<script>

</script>
<style>


    table {
        border-collapse: collapse; //合并为一个单一的边框
    border-color: #dfe6ec; //边框颜色按实际自定义即可
    }
    thead tr th {
        background-color: #f8f8f9;
    padding: 6px;
        text-align: center;
    }
    tbody tr td {
        padding: 6px;
        text-align: center;
        height: 34px;
    }
</style>

</html>