<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excel.pro.dao.DepartDetailDao">
    <select id="queryByid" resultType="com.excel.pro.entity.Departdetail">
        select *
        from DEPARTDETAIL
    </select>
    <select id="exportDepart" resultType="com.excel.pro.entity.DepartExportEntity">
        select #{cityname}                                           city,

               nvl(sum(CASE WHEN SHEET = '解放车3' then count end), 0)  three,
               nvl(sum(CASE WHEN SHEET = '解放车4' then count end), 0)  four,
               nvl(sum(CASE WHEN SHEET = '解放车5' then count end), 0)  five,
               nvl(sum(CASE WHEN SHEET = '解放车6' then count end), 0)  six,
               nvl(sum(CASE WHEN SHEET = '解放车7' then count end), 0)  seven,
               nvl(sum(CASE WHEN SHEET = '解放车8' then count end), 0)  eight,
               nvl(sum(CASE WHEN SHEET = '解放车9' then count end), 0)  nine,
               nvl(sum(CASE WHEN SHEET = '解放车10' then count end), 0) ten,
               nvl(sum(CASE WHEN SHEET = '解放车11' then count end), 0) eleven,
               nvl(sum(CASE WHEN SHEET = '解放车12' then count end), 0) twelve,
               nvl(sum(CASE WHEN SHEET = '解放车1' then count end), 0)  one,
               nvl(sum(CASE WHEN SHEET = '解放车2' then count end), 0)  two,
               nvl(sum(count),0) allcount

        from (
                 select SHEET, count(STARTCITY) count
                 from DEPARTDETAIL
                 where STARTCITY = #{cityname}
                 group by sheet
                 order by SHEET
             )
    </select>

    <select id="queryCitySelect" resultType="com.excel.pro.entity.SelectEntity">
        select distinct STARTCITY as key ,STARTCITY as value
        from DEPARTDETAIL
    </select>

    <select id="queryEndCitySelect" resultType="com.excel.pro.entity.SelectEntity">
        select distinct ENDCITY as key ,ENDCITY as value
        from DEPARTDETAIL
    </select>

    <select id="queryJFMonthSelect" resultType="com.excel.pro.entity.SelectEntity">
        select distinct month as key ,month as value
        from DEPARTDETAIL order by  MONTH
    </select>

    <select id="queryCarTypeByDepart" resultType="com.excel.pro.entity.SelectEntity">
        select distinct CARTYPE as key ,CARTYPE as value
        from DEPARTDETAIL
    </select>
</mapper>