<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excel.pro.dao.DepartDetailDao">
    <select id="queryByid" resultType="com.excel.pro.entity.Departdetail">
        select *
        from DEPARTDETAIL
    </select>
    <select id="exportDepart" resultType="com.excel.pro.entity.DepartExportEntity">
        select #{cityname}                                        city,
               nvl(sum(CASE WHEN month = '3' then count end), 0)  three,
               nvl(sum(CASE WHEN month = '4' then count end), 0)  four,
               nvl(sum(CASE WHEN month = '5' then count end), 0)  five,
               nvl(sum(CASE WHEN month = '6' then count end), 0)  six,
               nvl(sum(CASE WHEN month = '7' then count end), 0)  seven,
               nvl(sum(CASE WHEN month = '8' then count end), 0)  eight,
               nvl(sum(CASE WHEN month = '9' then count end), 0)  nine,
               nvl(sum(CASE WHEN month = '10' then count end), 0) ten,
               nvl(sum(CASE WHEN month = '11' then count end), 0) eleven,
               nvl(sum(CASE WHEN month = '12' then count end), 0) twelve,
               nvl(sum(CASE WHEN month = '1' then count end), 0)  one,
               nvl(sum(CASE WHEN month = '2' then count end), 0)  two,
               nvl(sum(count), 0)                                 allcount

        from (
                 select month, count(STARTCITY) count
                 from DEPARTDETAIL
                 where STARTCITY = #{cityname}
                   and CARTYPE = #{cartype}
                   and year = #{year}
                 group by month
                 order by month
             )
    </select>

    <select id="queryCitySelect" resultType="com.excel.pro.entity.SelectEntity">
        select distinct STARTCITY as key, STARTCITY as value
        from DEPARTDETAIL
        where STARTCITY is not null
          and STARTCITY is not null
    </select>

    <select id="queryEndCitySelect" resultType="com.excel.pro.entity.SelectEntity">
        select distinct ENDCITY as key, ENDCITY as value
        from DEPARTDETAIL
        where ENDCITY is not null
          and ENDCITY is not null
    </select>

    <select id="queryMonthSelect" resultType="com.excel.pro.entity.SelectEntity">
        select distinct month as key, month as value
        from DEPARTDETAIL
        where month is not null
          and month is not null
        order by MONTH
    </select>

    <select id="queryCarTypeByDepart" resultType="com.excel.pro.entity.SelectEntity">
        select distinct CARTYPE as key, CARTYPE as value
        from DEPARTDETAIL
    </select>

    <select id="queryRunCount" resultType="com.excel.pro.entity.SelectEntity">
        select month key, count(STARTCITY) value
        from DEPARTDETAIL
        where year = #{year}
        <if test='cartype != "总损益表"'>
            and CARTYPE = #{cartype}
        </if>
        and ISMONTHCOUNT = 1
        group by month
        order by month
    </select>

    <select id="queryIncomeMoney" resultType="com.excel.pro.entity.Incomestatement">
        select listagg(distinct CARID, ',') within group ( order by CARID desc) CARID,
        COLUMNNAME,
        round(sum(onemonth), 2) onemonth,
        round(sum(twomonth), 2) twomonth,
        round(sum(threemonth), 2) threemonth,
        round(sum(fourmonth), 2) fourmonth,
        round(sum(fivemonth), 2) fivemonth,
        round(sum(sixmonth), 2) sixmonth,
        round(sum(sevenmonth), 2) sevenmonth,
        round(sum(eightmonth), 2) eightmonth,
        round(sum(ninemonth), 2) ninemonth,
        round(sum(tenmonth), 2) tenmonth,
        round(sum(eleventmonth), 2) eleventmonth,
        round(sum(twelvemonth), 2) twelvemonth
        from INCOMESTATEMENT I
        where
        year = #{year}

        <if test='cartype != "总损益表"'>
            and I.CARTYPE = #{cartype}
        </if>
        group by COLUMNNAME
    </select>
    <select id="selectCountGroupByMonth" resultType="com.excel.pro.entity.IndexPageEntity">
        select cartype, listagg(distinct MONTH, ',') within group ( order by MONTH) month
        from DEPARTDETAIL
        where ISMONTHCOUNT = 1
        group by cartype
        order by CARTYPE
    </select>
    <select id="selectCountClassify" resultType="com.excel.pro.entity.IndexPageEntity">
        select CARTYPE, listagg(runcount, ',') within group ( order by MONTH) runcount
        from (select cartype, month, month || '月份发车次数' || count(SHEETID) || '次' runcount
              from DEPARTDETAIL
              where ISMONTHCOUNT = 1
              group by cartype, month
              order by CARTYPE, MONTH
             )
        group by CARTYPE
    </select>
    <select id="queryDepartWarring" resultType="com.excel.pro.entity.IndexPageEntity">
        select cartype, listagg(err, ',') within group ( order by month) tmp
        from (
                 select CARTYPE, MONTH, MONTH || '月份,序号为' || SHEETID err
                 from DEPARTDETAIL
                 where CARNUM is null
                    or STARTCITY is null
                    or ENDCITY is null
                    or STARTKILO is null
                    or ENDKILO is null
                 order by CARTYPE, MONTH
             ) a
        group by CARTYPE
    </select>
    <select id="queryincomeIndex" resultType="com.excel.pro.entity.IndexPageEntity">

    </select>
    <select id="queryYearSelect" resultType="com.excel.pro.entity.SelectEntity">
        select distinct YEAR as key, YEAR as value
        from DEPARTDETAIL
        where YEAR is not null
        order by YEAR
    </select>


</mapper>