<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excel.pro.dao.IncomeStatementDao">
    <select id="exportIncome" resultType="com.excel.pro.entity.IncomeExportEntity">
        select *
        from (
                 select CARTYPE,
                        month                                         month,
                        sum(kilo) / 10000                             kilosum,
                        count(SHEETID)                                runcount,
                        round(sum(kilo) / count(SHEETID), 10) / 10000 avg
                 from DEPARTDETAIL D
                 where YEAR = #{year}
                   <if test="carType != '总损益表'">
                       and CARTYPE = #{carType}
                   </if>

                   and d.ISMONTHCOUNT = 1
                   and d.ISKILOSUM = 1
                 group by month, CARTYPE
             ) a
        order by month
    </select>

    <select id="queryMonthMoney" resultType="com.excel.pro.entity.Incomestatement">
        select max(CARTYPE)                                            cartype,
               columnname,
               listagg(CARID, ',') within group ( order by CARID desc) carid,
               sum(THREEMONTH) / 10000                                 threemonth,
               sum(FOURMONTH) / 10000                                  fourmonth,
               sum(FIVEMONTH) / 10000                                  fivemonth,
               sum(SIXMONTH) / 10000                                   sixmonth,
               sum(SEVENMONTH) / 10000                                 sevenmonth,
               sum(EIGHTMONTH) / 10000                                 eightmonth,
               sum(NINEMONTH) / 10000                                  ninemonth,
               sum(TENMONTH) / 10000                                   tenmonth,
               sum(ELEVENTMONTH) / 10000                               eleventmonth,
               sum(TWELVEMONTH) / 10000                                twelvemonth,
               sum(ONEMONTH) / 10000                                   onemonth,
               sum(TWOMONTH) / 10000                                   twomonth
        from INCOMESTATEMENT I
        where year = #{year}

        <if test="carType != '总损益表'">
            and CARTYPE = #{carType}
        </if>

        group by COLUMNNAME
    </select>


    <select id="queryMonthMoneyOther" resultType="com.excel.pro.entity.Incomestatement">
        select max(CARTYPE) cartype,
        carid,
        listagg(columnname, ',') within group ( order by columnname desc) columnname,
        sum(threemonth )threemonth,
        sum(fourmonth )fourmonth,
        sum(fivemonth) fivemonth,
        sum(sixmonth) sixmonth,
        sum(sevenmonth )sevenmonth,
        sum(eightmonth) eightmonth,
        sum(ninemonth) ninemonth,
        sum(tenmonth )tenmonth,
        sum(eleventmonth )eleventmonth,
        sum(twelvemonth )twelvemonth,
        sum(onemonth ) onemonth,
        sum(twomonth) twomonth
        from (
        select max(CARTYPE) cartype,
        columnname,
        listagg(CARID, ',') within group ( order by CARID desc) carid,
        sum(THREEMONTH) threemonth,
        sum(FOURMONTH) fourmonth,
        sum(FIVEMONTH) fivemonth,
        sum(SIXMONTH) sixmonth,
        sum(SEVENMONTH) sevenmonth,
        sum(EIGHTMONTH) eightmonth,
        sum(NINEMONTH) ninemonth,
        sum(TENMONTH) tenmonth,
        sum(ELEVENTMONTH) eleventmonth,
        sum(TWELVEMONTH) twelvemonth,
        sum(ONEMONTH) onemonth,
        sum(TWOMONTH) twomonth
        from INCOMESTATEMENT I
        where I.year =#{year}
        <if test='carType != "总损益表"'>
            and I.CARTYPE = #{carType}
        </if>
        and COLUMNNAME in
        <foreach item="item" index="index" collection="otherRowTitleList" open="(" close=")" separator=",">
            #{item}
        </foreach>
        group by COLUMNNAME
        ) a
        group by cartype, carid
    </select>

    <select id="queryMonthMoneyOther1" resultType="com.excel.pro.entity.Incomestatement">
        select max(CARTYPE) cartype,
        carid,
        listagg(columnname, ',') within group ( order by columnname desc) columnname,
        sum(threemonth/10000) threemonth,
        sum(fourmonth/10000) fourmonth,
        sum(fivemonth/10000) fivemonth,
        sum(sixmonth/10000) sixmonth,
        sum(sevenmonth/10000) sevenmonth,
        sum(eightmonth/10000) eightmonth,
        sum(ninemonth/10000) ninemonth,
        sum(tenmonth/10000) tenmonth,
        sum(eleventmonth/10000) eleventmonth,
        sum(twelvemonth/10000) twelvemonth,
        sum(onemonth/10000) onemonth,
        sum(twomonth/10000) twomonth
        from (
        select max(CARTYPE) cartype,
        columnname,
        listagg(CARID, ',') within group ( order by CARID desc) carid,
        sum(THREEMONTH) threemonth,
        sum(FOURMONTH) fourmonth,
        sum(FIVEMONTH) fivemonth,
        sum(SIXMONTH) sixmonth,
        sum(SEVENMONTH) sevenmonth,
        sum(EIGHTMONTH) eightmonth,
        sum(NINEMONTH) ninemonth,
        sum(TENMONTH) tenmonth,
        sum(ELEVENTMONTH) eleventmonth,
        sum(TWELVEMONTH) twelvemonth,
        sum(ONEMONTH) onemonth,
        sum(TWOMONTH) twomonth
        from INCOMESTATEMENT I
        where  I.year =#{year}

        <if test="carType != '总损益表'">
            and CARTYPE = #{carType}
        </if>
        and COLUMNNAME in
        <foreach item="item" index="index" collection="otherRowTitleList" open="(" close=")" separator=",">
            #{item}
        </foreach>
        group by COLUMNNAME
        ) a
        group by cartype, carid
    </select>


    <select id="querycarid" resultType="com.excel.pro.entity.SelectEntity">
        select distinct CARID as key, CARID as value
        from INCOMESTATEMENT
    </select>

    <select id="querycarTypeByIncome" resultType="com.excel.pro.entity.SelectEntity">
        select distinct CARTYPE as key, CARTYPE as value
        from INCOMESTATEMENT
    </select>

    <select id="querycolumnsByIncome" resultType="com.excel.pro.entity.SelectEntity">
        select distinct COLUMNNAME as key, COLUMNNAME as value
        from INCOMESTATEMENT
    </select>

    <select id="queryincomeIndex" resultType="com.excel.pro.entity.IndexPageEntity">
        select cartype, listagg(distinct CARID, ',') within group ( order by CARID) tmp
        from INCOMESTATEMENT
        group by CARTYPE
    </select>

    <select id="queryIncomeWarning" resultType="com.excel.pro.entity.IndexPageEntity">

        select cartype,
               carid,
               columnname
        from INCOMESTATEMENT
        where ONEMONTH &lt; 0
           or TWOMONTH &lt; 0
           or THREEMONTH &lt; 0
           or FOURMONTH &lt; 0
           or FIVEMONTH &lt; 0
           or SIXMONTH &lt; 0
           or SEVENMONTH &lt; 0
           or EIGHTMONTH &lt; 0
           or NINEMONTH &lt; 0
           or TENMONTH &lt; 0
           or ELEVENTMONTH &lt; 0
           or TWELVEMONTH &lt; 0
    </select>
    <select id="querySumByColumn" resultType="com.excel.pro.entity.Incomestatement">
        select cartype,
               carid,
               columnname            columnname,
               carid,
               (threemonth + fourmonth + fivemonth + sixmonth + sevenmonth +
                eightmonth +
                ninemonth +
                tenmonth +
                eleventmonth +
                twelvemonth +
                onemonth +
                twomonth) / 10000 as subjectcode
        FROM (
                 select max(CARTYPE)                                            cartype,
                        columnname,
                        listagg(CARID, ',') within group ( order by CARID desc) carid,
                        sum(THREEMONTH)                                         threemonth,
                        sum(FOURMONTH)                                          fourmonth,
                        sum(FIVEMONTH)                                          fivemonth,
                        sum(SIXMONTH)                                           sixmonth,
                        sum(SEVENMONTH)                                         sevenmonth,
                        sum(EIGHTMONTH)                                         eightmonth,
                        sum(NINEMONTH)                                          ninemonth,
                        sum(TENMONTH)                                           tenmonth,
                        sum(ELEVENTMONTH)                                       eleventmonth,
                        sum(TWELVEMONTH)                                        twelvemonth,
                        sum(ONEMONTH)                                           onemonth,
                        sum(TWOMONTH)                                           twomonth
                 from INCOMESTATEMENT I
                 where I.CARTYPE = #{cartype}
                   and year = #{year}
                 group by COLUMNNAME)
    </select>
</mapper>